# dependencies
node_modules

# build outputs
dist/
build/
*.tsbuildinfo

# sst
.sst

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
.pnpm-debug.log*

# env
.env*

# claude code (local-only)
.claude/
CLAUDE.md
